# This file is an example of the .env file that should be created in the root of the project

# The bot's secret token, which can be found in Discord's developer portal:
# https://discord.com/developers/applications/{your_application_id}/bot
DISCORD_TOKEN="your_token_here"

# The RoVer API key, see https://rover.link/bot-developers
ROVER_API_KEY="your_rover_api_key_here"

# The DevForum session cookie (optional)
# Permits access to profiles hidden to unauthenticated users
DEVFORUM_COOKIE="your_devforum_session_cookie_here"

# The path to the SQLite database file
DB_PATH="./db/magnolia.sqlite"